<div class="flex justify-content-center mt-5">
    <div class="flex flex-column justify-content-center surface-card p-5 register-company-container">
        <div class="text-3xl font-medium mb-3" id="title-form">{{ 'citas_entrevistas' | translate }}</div>
       <!--  <p-table [columns]="cols" [value]="totalAppointments">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of cols">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of cols">
                        {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
        </p-table> -->
    </div>
</div>
