<div class="border-1 surface-border p-3 flex justify-content-between align-items-start mb-3">
    <img 
        src="https://s.gravatar.com/avatar/6e0bae138979e3e775e9831266c1116a?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fna.png" 
        alt="imagen-perfil"
        class="w-3">
    
    <div class="w-9 pl-2">
        <p class="text-xl text-primary font-semibold m-0">Amapola Rojas</p>
        <p class="font-semibold m-0">Ingenieria de software</p>
        <p class="text-sm font-normal m-0">Java, JavaScript, CSS, Python, Node.js, Angular</p>
        <p class="text-sm text-primary font-normal m-0">Ingles, Aleman, Español</p>
    </div>
</div>