<div [class]="'border-1 surface-border p-3 flex justify-content-between align-items-start mb-3 ' + (candidateSelected ? 'selected' : '')" (click)="selectedCard()">
    <img 
        [src]="candidate.picture" 
        alt="{{'imagen_perfil'|translate}}"
        class="w-3">
    
    <div class="w-9 pl-2">
        <p class="text-xl text-primary font-semibold m-0">{{candidate.names}} {{candidate.surnames}}</p>
        <p class="font-semibold m-0">{{candidate.education[0]?.title}}</p>
        <p class="text-sm font-normal m-0">
            <span *ngFor="let skills of candidate.skills">{{skills.name}},</span>
        </p>
        <p class="text-sm text-primary font-normal m-0">
            <span *ngFor="let languages of candidate.languages">{{languages.name}},</span>
        </p>
    </div>
</div>