<div class="surface-border p-3">
    <div class="flex justify-content-between align-items-start">
        <img 
            [src]="candidate.picture" 
            alt="{{'imagen_perfil'|translate}}"
            class="w-2">
        
        <div class="w-9">
            <h1>{{candidate.names}} {{candidate.surnames}}</h1>
            <div class="flex align-items-start">
                <div class="w-6">
                    <p>
                        <span><i class="pi pi-user"></i></span>
                        {{candidate.nameIdentification}} {{candidate.identification}}
                    </p>
    
                    <p>
                        <span><i class="pi pi-phone"></i></span>
                        {{candidate.phone}}
                    </p>
    
                    <p>
                        <span><i class="pi pi-inbox"></i></span>
                        {{candidate.email}}
                    </p>
                </div>

                <div class="w-6">
                    <p>
                        <span><i class="pi pi-map-marker"></i></span>
                        {{candidate.location.nameCity}} - {{candidate.location.nameCountry}}
                    </p>
    
                    <p>
                        <span><i class="pi pi-flag-fill"></i></span>
                        <span *ngFor="let languages of candidate.languages">{{languages.name}},</span>
                    </p>
    
                    <p>
                        <span><i class="pi pi-cog"></i></span>
                        <span *ngFor="let skills of candidate.skills">{{skills.name}},</span>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div>
        <p class="text-xl font-semibold" id="p-education">{{'educacion'| translate}}</p>

        <div class="flex" *ngFor="let education of candidate.education">
            <p class="w-6">{{education.title}}</p>
            <p class="w-2">{{education.dateInit}}</p>
            <p class="w-2">{{education.dateEnd}}</p>
        </div>

        <p class="text-xl font-semibold mt-5">{{'experiencia_laboral'|translate}}</p>

        <div class="flex" *ngFor="let experience of candidate.experiences">
            <p class="w-4">{{experience.job}}</p>
            <p class="w-2">{{experience.dateInit}}</p>
            <p class="w-2">{{experience.dateEnd}}</p>
            <p class="w-4">{{experience.company}}</p>
        </div>
    </div>

</div>

