<div class="surface-border p-3">
    <div class="flex justify-content-between align-items-start">
        <img 
            src="https://s.gravatar.com/avatar/6e0bae138979e3e775e9831266c1116a?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fna.png" 
            alt="imagen-perfil"
            class="w-2">
        
        <div class="w-9">
            <h1>Flor Amapola Rojas</h1>
            <div class="flex align-items-start">
                <div class="w-6">
                    <p>
                        <span><i class="pi pi-user"></i></span>
                        CC 31654897
                    </p>
    
                    <p>
                        <span><i class="pi pi-phone"></i></span>
                        3216549870
                    </p>
    
                    <p>
                        <span><i class="pi pi-inbox"></i></span>
                        a@jaron.com
                    </p>
                </div>

                <div class="w-6">
                    <p>
                        <span><i class="pi pi-map-marker"></i></span>
                        Bogota - Colombia
                    </p>
    
                    <p>
                        <span><i class="pi pi-flag-fill"></i></span>
                        Ingles, Aleman, Español
                    </p>
    
                    <p>
                        <span><i class="pi pi-cog"></i></span>
                        Java, Node, CSS, PHP
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div>
        <p class="text-xl font-semibold">Educación</p>

        <div class="flex">
            <p class="w-6">Ingeniero de sistemas y computacion</p>
            <p class="w-2">2010-09-13</p>
            <p class="w-2">2015-09-13</p>
        </div>

        <div class="flex">
            <p class="w-6">Magister en ingenieria de software</p>
            <p class="w-2">2010-09-13</p>
            <p class="w-2">2015-09-13</p>
        </div>

        <p class="text-xl font-semibold mt-5">Experiencia laboral</p>

        <div class="flex">
            <p class="w-4">Desarrollador senior</p>
            <p class="w-2">2015-09-13</p>
            <p class="w-2">2017-09-13</p>
            <p class="w-4">Amazon web service</p>
        </div>
    </div>

</div>

