.layout-menu {
  &__logo {
    &-image {
      img {
        width: 76px;
      }
    }

    &-txt {
      img {
        width: 150px;
      }
    }
  }

  &__menu {
    min-height: 76vh;
  }

  &__footer {
    background-color: var(--surface-506981);
    color: var(--error-color);
  }
}