.home-container {
    display: flex;
    align-items: flex-start;

    &__menu {
        width: 20%;
    }

    &__wrapper {
        width: 80%;

        &__content {
            min-height: calc(100vh - 70px);
            background-image: url('/assets/images/background.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}